ipm/conf/userprofile-v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://ws.drutt.com/msdp/userprofile-v2" name="UserProfileService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.drutt.com/msdp/userprofile-v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.drutt.com/msdp/userprofile-v2" schemaLocation="userprofile-v2.xsd"/>
    </xsd:schema>
  </types>
  <message name="setMeta_String">
    <part name="parameters" element="tns:setMeta_String"/>
  </message>
  <message name="setMeta_StringResponse">
    <part name="parameters" element="tns:setMeta_StringResponse"/>
  </message>
  <message name="WSException">
    <part name="fault" element="tns:WSException"/>
  </message>
  <message name="setMeta_Strings">
    <part name="parameters" element="tns:setMeta_Strings"/>
  </message>
  <message name="setMeta_StringsResponse">
    <part name="parameters" element="tns:setMeta_StringsResponse"/>
  </message>
  <message name="getMeta">
    <part name="parameters" element="tns:getMeta"/>
  </message>
  <message name="getMetaResponse">
    <part name="parameters" element="tns:getMetaResponse"/>
  </message>
  <message name="setMetas">
    <part name="parameters" element="tns:setMetas"/>
  </message>
  <message name="setMetasResponse">
    <part name="parameters" element="tns:setMetasResponse"/>
  </message>
  <message name="getMsisdn">
    <part name="parameters" element="tns:getMsisdn"/>
  </message>
  <message name="getMsisdnResponse">
    <part name="parameters" element="tns:getMsisdnResponse"/>
  </message>
  <message name="getUserId">
    <part name="parameters" element="tns:getUserId"/>
  </message>
  <message name="getUserIdResponse">
    <part name="parameters" element="tns:getUserIdResponse"/>
  </message>
  <message name="setPincode">
    <part name="parameters" element="tns:setPincode"/>
  </message>
  <message name="setPincodeResponse">
    <part name="parameters" element="tns:setPincodeResponse"/>
  </message>
  <message name="setMsisdn">
    <part name="parameters" element="tns:setMsisdn"/>
  </message>
  <message name="setMsisdnResponse">
    <part name="parameters" element="tns:setMsisdnResponse"/>
  </message>
  <message name="createUserProfile">
    <part name="parameters" element="tns:createUserProfile"/>
  </message>
  <message name="createUserProfileResponse">
    <part name="parameters" element="tns:createUserProfileResponse"/>
  </message>
  <message name="deleteUserProfile">
    <part name="parameters" element="tns:deleteUserProfile"/>
  </message>
  <message name="deleteUserProfileResponse">
    <part name="parameters" element="tns:deleteUserProfileResponse"/>
  </message>
  <message name="userProfileExist">
    <part name="parameters" element="tns:userProfileExist"/>
  </message>
  <message name="userProfileExistResponse">
    <part name="parameters" element="tns:userProfileExistResponse"/>
  </message>
  <message name="getMetaAsString">
    <part name="parameters" element="tns:getMetaAsString"/>
  </message>
  <message name="getMetaAsStringResponse">
    <part name="parameters" element="tns:getMetaAsStringResponse"/>
  </message>
  <message name="getMetaAsStrings">
    <part name="parameters" element="tns:getMetaAsStrings"/>
  </message>
  <message name="getMetaAsStringsResponse">
    <part name="parameters" element="tns:getMetaAsStringsResponse"/>
  </message>
  <message name="getUserProfileInformation">
    <part name="parameters" element="tns:getUserProfileInformation"/>
  </message>
  <message name="getUserProfileInformationResponse">
    <part name="parameters" element="tns:getUserProfileInformationResponse"/>
  </message>
  
  <!-- v2 new message start -->
  <message name="deleteUserProfileById">
    <part name="parameters" element="tns:deleteUserProfileById"/>
  </message>
  
  <message name="deleteUserProfileByIdResponse">
    <part name="parameters" element="tns:deleteUserProfileByIdResponse"/>
  </message>
  
  <message name="getUserProfileInformationById">
    <part name="parameters" element="tns:getUserProfileInformationById"/>
  </message>
  
  <message name="getUserProfileInformationByIdResponse">
    <part name="parameters" element="tns:getUserProfileInformationByIdResponse"/>
  </message>
  
  <message name="updateUserProfile">
    <part name="parameters" element="tns:updateUserProfile"/>
  </message>
  
  <message name="updateUserProfileResponse">
    <part name="parameters" element="tns:updateUserProfileResponse"/>
  </message>
  <!-- v2 new message end -->
  
  
  
  <portType name="UserProfileService">
    <operation name="setMeta_String">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setMeta_StringRequest" message="tns:setMeta_String"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setMeta_StringResponse" message="tns:setMeta_StringResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setMeta_String/Fault/WSException"/>
    </operation>
    <operation name="setMeta_Strings">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setMeta_StringsRequest" message="tns:setMeta_Strings"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setMeta_StringsResponse" message="tns:setMeta_StringsResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setMeta_Strings/Fault/WSException"/>
    </operation>
    <operation name="getMeta">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getMetaRequest" message="tns:getMeta"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getMetaResponse" message="tns:getMetaResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getMeta/Fault/WSException"/>
    </operation>
    <operation name="setMetas">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setMetasRequest" message="tns:setMetas"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setMetasResponse" message="tns:setMetasResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setMetas/Fault/WSException"/>
    </operation>
    <operation name="getMsisdn">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getMsisdnRequest" message="tns:getMsisdn"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getMsisdnResponse" message="tns:getMsisdnResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getMsisdn/Fault/WSException"/>
    </operation>
    <operation name="getUserId">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getUserIdRequest" message="tns:getUserId"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getUserIdResponse" message="tns:getUserIdResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getUserId/Fault/WSException"/>
    </operation>
    <operation name="setPincode">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setPincodeRequest" message="tns:setPincode"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setPincodeResponse" message="tns:setPincodeResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setPincode/Fault/WSException"/>
    </operation>
    <operation name="setMsisdn">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setMsisdnRequest" message="tns:setMsisdn"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setMsisdnResponse" message="tns:setMsisdnResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/setMsisdn/Fault/WSException"/>
    </operation>
    <operation name="createUserProfile">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/createUserProfileRequest" message="tns:createUserProfile"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/createUserProfileResponse" message="tns:createUserProfileResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/createUserProfile/Fault/WSException"/>
    </operation>
    <operation name="deleteUserProfile">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/deleteUserProfileRequest" message="tns:deleteUserProfile"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/deleteUserProfileResponse" message="tns:deleteUserProfileResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/deleteUserProfile/Fault/WSException"/>
    </operation>
    <operation name="userProfileExist">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/userProfileExistRequest" message="tns:userProfileExist"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/userProfileExistResponse" message="tns:userProfileExistResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/userProfileExist/Fault/WSException"/>
    </operation>
    <operation name="getMetaAsString">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getMetaAsStringRequest" message="tns:getMetaAsString"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getMetaAsStringResponse" message="tns:getMetaAsStringResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getMetaAsString/Fault/WSException"/>
    </operation>
    <operation name="getMetaAsStrings">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getMetaAsStringsRequest" message="tns:getMetaAsStrings"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getMetaAsStringsResponse" message="tns:getMetaAsStringsResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getMetaAsStrings/Fault/WSException"/>
    </operation>
    <operation name="getUserProfileInformation">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getUserProfileInformationRequest" message="tns:getUserProfileInformation"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getUserProfileInformationResponse" message="tns:getUserProfileInformationResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getUserProfileInformation/Fault/WSException"/>
    </operation>
    
    <!-- v2 new operation start -->
    <operation name="deleteUserProfileById">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/deleteUserProfileByIdRequest" message="tns:deleteUserProfileById"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/deleteUserProfileByIdResponse" message="tns:deleteUserProfileByIdResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getUserProfileInformation/Fault/WSException"/>
    </operation>
    
    <operation name="getUserProfileInformationById">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getUserProfileInformationByIdRequest" message="tns:getUserProfileInformationById"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getUserProfileInformationByIdResponse" message="tns:getUserProfileInformationByIdResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getUserProfileInformation/Fault/WSException"/>
    </operation>
    
    <operation name="updateUserProfile">
      <input wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/updateUserProfileRequest" message="tns:updateUserProfile"/>
      <output wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/updateUserProfileResponse" message="tns:updateUserProfileResponse"/>
      <fault message="tns:WSException" name="WSException" wsam:Action="http://ws.drutt.com/msdp/userprofile/UserProfileService/getUserProfileInformation/Fault/WSException"/>
    </operation>
    <!-- v2 new operation end -->
    
  </portType>
  <binding name="UserProfileServiceImplPortBinding" type="tns:UserProfileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="setMeta_String">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    <operation name="setMeta_Strings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    <operation name="getMeta">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    <operation name="setMetas">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    <operation name="getMsisdn">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUserId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    <operation name="setPincode">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    <operation name="setMsisdn">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    <operation name="createUserProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteUserProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    <operation name="userProfileExist">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    <operation name="getMetaAsString">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    <operation name="getMetaAsStrings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    <operation name="getUserProfileInformation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    
    <!-- v2 new operation binding start -->
    
    <operation name="deleteUserProfileById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    
    <operation name="getUserProfileInformationById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    
    <operation name="updateUserProfile">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WSException">
        <soap:fault name="WSException" use="literal"/>
      </fault>
    </operation>
    
    <!-- v2 new operation binding end -->
  </binding>
  <service name="UserProfileServiceImplService">
    <port name="UserProfileServiceImplPort" binding="tns:UserProfileServiceImplPortBinding">
      <soap:address
        location='http://10.118.131.159:8080/services/ws/userprofile/v2' />
    </port>
  </service>
</definitions>


